*.egg
*.pyc
*.sqlite
*.sql
*.sql.gz
*~
cmsbootstrap/test_project/local_settings.py
cmsbootstrap/test_project/private_settings.py
cmsbootstrap/test_project/.ve
cmsbootstrap/test_project/celerybeat.pid
cmsbootstrap/test_project/distribute-*.tar.gz
cmsbootstrap/test_project/*.sqlite
cmsbootstrap/test_project/search_index
cmsbootstrap/test_project/static
cmsbootstrap/test_project/uploads
cmsbootstrap.egg-info
reports/*
.*.swp
.*.swo
.DS_Store
.pydevproject
.ropeproject
.sass-cache
.tox/
