*.pyc
.*.swp
*~
.ropeproject
django/website/local_settings.py
django/website/private_settings.py
django/website/.ve
django/website/celerybeat.pid
django/website/distribute-*.tar.gz
django/website/*.sqlite
django/website/search_index
django/website/static
django/website/uploads
reports/*
.DS_Store
.pydevproject
*.sql
*.sql.gz